body {
    background-color: lightgray; /* Set background color to light gray */

    /* Set text color to black */
    color: black;
}


h1 {
    color: blue; /* Set the color of h1 elements to blue */
}


