<!DOCTYPE html>
<html>
<head>
    <title>Machine Learning Project</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <header>
        <h1 >Welcome to the Machine Learning Project</h1>
    </header>
    <div class="image-container">
        <img src="static/brain.png" alt="Image Description">
    </div>
    <nav>
        <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    <section class="description" id="about">
        <h2>Project Description</h2>
        <p>Our project focuses on using machine learning techniques to solve real-world problems. Discover the power of data-driven decisions with our machine learning project.</p>
    </section>

    <section class="projects" id="projects">
        <h2>Projects</h2>
        <ul>
            <li>
                <h3>Project 1: Predictive Modeling</h3>
                <p>Explore our predictive modeling project, which analyzes historical data to make accurate predictions.</p>
            </li>
            <li>
                <h3>Project 2: Image Recognition</h3>
                <p>Discover our image recognition project that uses deep learning to classify images.</p>
            </li>
        </ul>
    </section>

    <section class="contact" id="contact">
        <h2>Contact Us</h2>
        <p>If you have any questions or would like to collaborate, please don't hesitate to get in touch with us.</p>
        <p>Email: <a href="srinathlaka1@gmail.com">contact@gmail.com</a></p>
    </section>

    <div class="image-container">
        <img src="static/brain.png" alt="Image Description">
    </div>


    <p>I have created a Docker file and CI/CD Pipeline.</p><br>
    <a href="https://github.com/srinathlaka/Docker">Link for the project repository on Github</a>
    <h3></h3>

    
    
</body>
</html>